#######################################################################
# Audit database {{ aedir_accesslog_suffix }}
#######################################################################

database mdb

suffix "{{ aedir_accesslog_suffix }}"
directory {{ openldap_data }}/accesslog

require strong

# Always set rootdn since needed by internally writing overlays
rootdn "cn=root,{{ aedir_accesslog_suffix }}"
# rootpw not needed in production!
#rootpw donotenable!!!
access to
  dn.base="cn=root,{{ aedir_accesslog_suffix }}"
    by * none

lastmod on

# database parameters
maxsize {{ openldap_db_params.accesslog.mdb_maxsize }}

{% if openldap_db_params.accesslog.checkpoint %}
# Better write performance but less crash resistance, see slapd-mdb(5) for details
dbnosync
checkpoint {{ openldap_db_params.accesslog.checkpoint }}
envflags writemap mapasync
{% endif %}

# Maximum number of entries to return from a search operation
sizelimit {{ openldap_db_params.accesslog.sizelimit }}

# Maximum number of time [secs] slapd will spend answering a search request
timelimit {{ openldap_db_params.accesslog.timelimit }}

# Indexing configuration
index reqStart eq
index reqType eq
index reqDN eq
index reqAuthzID eq
index reqResult eq
index reqEntryUUID eq
index objectClass eq

#---------------------------------------------------------------------------
# Access rights {{ aedir_accesslog_suffix }}
#---------------------------------------------------------------------------

access
  to dn.base="{{ aedir_accesslog_suffix }}"
    by group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_suffix }}" read
    by group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_suffix }}" read
    by dn.exact="cn=root,{{ aedir_suffix }}" read
    by group/aeGroup/member="cn=ae-all-zone-admins,cn=ae,{{ aedir_suffix }}" read
    by * none

access
  to dn.onelevel="{{ aedir_accesslog_suffix }}"
    by group/aeGroup/member="cn=ae-admins,cn=ae,{{ aedir_suffix }}" read
    by group/aeGroup/member="cn=ae-auditors,cn=ae,{{ aedir_suffix }}" read
    by dn.exact="cn=root,{{ aedir_suffix }}" read
    by dnattr=reqAuthzID read
    by * none

#---------------------------------------------------------------------------
# overlays used within {{ aedir_accesslog_suffix }}
#---------------------------------------------------------------------------

# for counting search results without retrieving them
overlay noopsrch

# for dereferencing control
overlay deref

