{text_error}

<form method="POST" action="/web2ldap/searchform">

  <input type="hidden" name="ldapurl" value="{{ openldap_ldapi_uri }}">
  <input type="hidden" name="dn" value="{{ aedir_suffix }}">
  <input type="hidden" name="login_search_root" value="{{ aedir_suffix }}">

  <fieldset>
    <legend>&AElig;-DIR login</legend>
    <table>
      <tr>
        <td>User:</td>
        <td>
          <input name="who"
                 id="login_who"
                 title="User name or bind-DN of &AElig;-DIR entry"
                 placeholder="User name or bind-DN"
                 maxlength="300"
                 size="40"
                 autofocus
                 value="">
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
          <input type="password"
                 title="Password to be used for login"
                 placeholder="your secret password"
                 name="cred"
                 id="login_cred"
                 maxlength="200"
                 size="60"
                 value="">
        </td>
      </tr>
    </table>
    <input type="submit" id="login_submit" value="Login">
  </fieldset>

</form>

<h2>Documentation</h2>
<ul>
  <li>
    <a href="/web2ldap.html">web2ldap user guide</a>
  </li>
</ul>

<h2>Other apps</h2>
<ul>
  <li>
    <a href="/pwd">Password Self-Service</a>
  </li>
{% if oath_ldap_enabled==True %}
  <li>
    <a href="/oath">OATH-LDAP Token Enrollment Service</a>
  </li>
{% endif %}
</ul>

<h2>Admin/auditor short cuts</h2>
<table>
  <tr>
    <th>Task</th>
    <th>Admin Role(s)</th>
  </tr>
  <tr>
    <td>
      <a class="CL"
         href="/web2ldap?{{ openldap_ldapi_uri }}/{{ aedir_suffix }}??sub?(&(objectClass=aeUser)(aeStatus=0)(!(userPassword=*)))?bindname=">
        Search active personal user accounts without password
      </a>
    </td>
    <td>
      &AElig; admins/auditors, Zone admins
    </td>
  </tr>
    <td>
      <a class="CL"
         href="/web2ldap?{{ openldap_ldapi_uri }}/{{ aedir_suffix }}??sub?(&(objectClass=aeGroup)(aeStatus=0)(!(member=*)))?bindname=">
        Search active groups without members
      </a>
    </td>
    <td>
      &AElig; admins/auditors, Zone admins
    </td>
  </tr>
  <tr>
    <td>
      <a class="CL"
         href="/web2ldap?{{ openldap_ldapi_uri }}/{{ aedir_suffix }}??sub?(&(objectClass=aeObject)(aeStatus=0)(aeNotAfter<={value_currenttime}))?bindname=">
        Search expired entries still active
      </a>
    </td>
    <td>
      &AElig; admins/auditors, Zone admins
    </td>
  </tr>
  <tr>
    <td>
      <a class="CL"
         href="/web2ldap?{{ openldap_ldapi_uri }}/{{ aedir_suffix }}??sub?(objectClass=msPwdResetObject)?bindname=">
        Search on-going password resets
      </a>
    </td>
    <td>
      &AElig; admins/auditors, Zone admins
    </td>
  </tr>
  <tr>
    <td>
      <a class="CL"
         href="/web2ldap/searchform?{{ openldap_ldapi_uri }}/{{ aedir_accesslog_suffix }}????bindname=">
        Search access log
      </a>
    </td>
    <td>
      &AElig; admins/auditors
    </td>
  </tr>
</table>

<h3>&AElig;-DIR remote servers</h3>
{% for role in ['provider', 'consumer'] %}
<h4>{{ role }}(s)</h4>
<table>
  <tr>
    <th>Service</th>
    <th>Host</th>
    <th>Id</th>
  </tr>
{% for host in aedir_hosts[role]|sort %}
{% set replica = hostvars[host].get('openldap_service_fqdn',host) -%}
{% set server_id = hostvars[host].get('openldap_server_id','') -%}
  <tr>
    <td>
      <a class="CL" href="/web2ldap/searchform?ldaps://{{ replica }}/{{ aedir_suffix }}????bindname=">{{ replica }}</a>
    </td>
{% if replica!=host %}
    <td>
      {{ host }}
    </td>
{% else %}
    <td>
      -
    </td>
{% endif %}
    <td>
      {{ server_id }}
    </td>
  </tr>
{% endfor %}
</table>

{% endfor %}

<h2>&AElig;-DIR configuration</h2>
<table>
  <tr>
    <td>Service FQDN:</td>
    <td>{{ openldap_service_fqdn }}</td>
  </tr>
  <tr>
    <td>Inventory hostname:</td>
    <td>{{ inventory_hostname }}</td>
  </tr>
  <tr>
    <td>base DN / search root:</td>
    <td>{{ aedir_suffix }}</td>
  </tr>
  <tr>
    <td>POSIX-UID number range:</td>
    <td>{{ aedir_min_uid }}..{{ aedir_max_uid }}</td>
  </tr>
  <tr>
    <td>POSIX-GID number range:</td>
    <td>{{ aedir_min_gid }}..{{ aedir_max_gid }}</td>
  </tr>
</table>
