#!/bin/sh

# Don't use uninitialized vars
set -o nounset
# After here exit on any error
set -e

systemctl stop {{ openldap_service_name }}
rm -f {{ openldap_data }}/*/*.mdb
systemctl start {{ openldap_service_name }}
