#-----------------------------------------------------------------------
# initiate:   systemctl enable {{ openldap_service_name }}.service
# start:      systemctl start {{ openldap_service_name }}.service
# get status: systemctl status {{ openldap_service_name }}.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=AE-DIR OpenLDAP server
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
PIDFile={{ openldap_rundir }}/slapd.pid
ExecStart={{ openldap_path.slapd_exec }} -d none -n {{ openldap_service_name }} -l {{ openldap_syslog_facility }} -s {{ openldap_syslog_level }} -f {{ openldap_slapd_conf }} -h '{{ openldap_ldapi_uri|replace('%','%%') }} ldap://*:389 ldaps://*:636' -o slp=off
User={{ openldap_slapd_user }}
Group={{ openldap_slapd_group }}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
LimitNOFILE={{ openldap_limit_nofile }}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if aedir_systemd_logging %}
# various logging options from ansible var aedir_systemd_logging
{% for systemd_option in aedir_systemd_logging %}
{{ systemd_option }}
{% endfor %}
{% endif %}
{% if aedir_systemd_hardening %}
# various hardening options from ansible var aedir_systemd_hardening
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
{% endif %}
SystemCallFilter={{ systemd_systemcallfilter.default }}
{% if apparmor_enabled %}
AppArmorProfile={{ openldap_service_name }}
{% endif %}

[Install]
WantedBy=multi-user.target
