#-----------------------------------------------------------------------
# initiate:   systemctl enable oathenroll.service
# start:      systemctl start oathenroll.service
# get status: systemctl status oathenroll.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=oathenroll - OATH-LDAP enrollment web application
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
Environment=PYTHONPATH={{ oath_ldap_cfg_dir }}/oathenroll
# some env vars set for Python interpreter
{% for evar in aedir_python_env %}
Environment={{ evar.name }}={{ evar.value }}
{% endfor %}
Environment=LOG_CONFIG={{ aedir_etc }}/ae-logging.conf
Environment=LOG_QUALNAME=oathldap_srv.web.oathenroll
ExecStart={{ uwsgi_paths.exec }} --strict --ini {{ aedir_etc }}/uwsgi/oathenroll.ini
User={{ oath_ldap_oathenroll_web_user }}
Group={{ oath_ldap_oathenroll_web_group }}
KillSignal=SIGQUIT
Restart=always
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if aedir_systemd_logging %}
# various logging options from ansible var aedir_systemd_logging
{% for systemd_option in aedir_systemd_logging %}
{{ systemd_option }}
{% endfor %}
{% endif %}
{% if aedir_systemd_hardening %}
# various hardening options from ansible var aedir_systemd_hardening
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
{% endif %}
SystemCallFilter={{ systemd_systemcallfilter.default }}
{% if apparmor_enabled %}
AppArmorProfile=oathenroll
{% endif %}

[Install]
WantedBy=multi-user.target
