#!/bin/sh

# exit on error
set -e

# be strict on permissions
umask 0077

TIMESTAMP="$(date +%Y%m%d%H%M%S)"
NEW_CSR_FILE="{{ aedir_etc }}/tls/{{ openldap_service_fqdn }}.csr-${TIMESTAMP}"
NEW_KEY_FILE="{{ aedir_etc }}/tls/{{ openldap_service_fqdn }}.key-${TIMESTAMP}"

# Generate new CSR file with OpenSSL
{{ openssl_exec }} req \
  -config {{ aedir_etc }}/tls/gen_csr.cnf \
  -batch \
  -new \
  -nodes \
  -subj "{{ openldap_csr_subjectdn }}" \
  -out "${NEW_CSR_FILE}" \
  -keyout "${NEW_KEY_FILE}"

# Display new CSR file
/usr/bin/openssl req \
  -in "${NEW_CSR_FILE}" \
  -noout \
  -text \
  -nameopt rfc2253
