#--------------------------------------------------------------------------------
# Logging configuration for all AE-DIR services and scripts written in Python
#
# see format in Python 3.x library docs:
# https://docs.python.org/3/library/logging.config.html#configuration-file-format
#
# {{ ansible_managed }}
#--------------------------------------------------------------------------------

[loggers]
keys=root, aedir_process, aedir_pwd_web, oathldap_srv, web2ldap

[handlers]
keys=syslog

[formatters]
keys=syslog

[logger_root]
handlers=syslog
level=INFO

# logger for all processes derived from class aedir.process.AEProcess
# e.g. all CRON jobs
[logger_aedir_process]
handlers=syslog
level=INFO
propagate=0
facility=local7
qualname=aedir.process

# logger for ae-dir-pwd password self-service web application
[logger_aedir_pwd_web]
handlers=syslog
level=INFO
propagate=0
facility=local7
qualname=aedir_pproc.pwd.web

# logger for OATH-LDAP services
[logger_oathldap_srv]
handlers=syslog
level=INFO
propagate=0
facility=local7
qualname=oathldap_srv

# logger for web2ldap
[logger_web2ldap]
handlers=syslog
level=INFO
propagate=0
facility=local7
qualname=web2ldap

[handler_syslog]
class=logging.handlers.SysLogHandler
formatter=syslog
args=('/dev/log',)

[formatter_syslog]
class=logging.Formatter
format=%(name)s[%(process)d] %(levelname)s - %(message)s
datefmt=
