dn: uid=,cn={{ aedir_base_zone }},{{ aedir_suffix }}
objectClass: account
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aeObject
objectClass: aeUser
objectClass: posixAccount
objectClass: aeSSHAccount
objectClass: inetLocalMailRecipient
aeStatus: 0
{% if 'aeUser' in ae_expiry_status_defaults %}
aeExpiryStatus: {{ ae_expiry_status_defaults.aeUser }}
{% endif %}
description: primary desktop/mailbox account
loginShell: /bin/bash
pwdPolicySubentry: cn=ppolicy-base-users,cn=ae,{{ aedir_suffix }}
aeNotBefore: now
aeTag: pub-tag-no-welcome-yet

