dn: uid=,cn=ae,{{ aedir_suffix }}
objectClass: account
objectClass: aeObject
objectClass: aeService
objectClass: posixAccount
aeStatus: 0
uid: system_
cn: system_
description: System user for a login proxy
loginShell: {{ aedir_nologin_shell }}
pwdPolicySubentry: cn=ppolicy-systems,cn=ae,{{ aedir_suffix }}
aeNotBefore: now
authzTo: {0}ldap:///{{ aedir_suffix }}??sub?(&(aeStatus=0)(|(objectClass=aeHost)(objectClass=aeService)))

