<!DOCTYPE html>
<html>

  <!--web2ldap {web2ldap_version}-->

  <head>
    <title>&AElig;-DIR :: {ldap_uri} :: {dn} :: {title_text}</title>
    <meta name="generator" content="web2ldap {web2ldap_version}, see www.web2ldap.de">
    <meta http-equiv="Content-Type" content="text/html;charset={accept_charset}">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-config" content="none">
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      integrity="sha512-SHCdZFufCy/94RjEV0I/Y93/F0eSZ1rnwxx0yCKkRUxzlNFUCHgR+DmSM6V7zRKgw4khHDd4h7I2yMB32FLksA=="
      href="/css/web2ldap/default.css"
    >
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      integrity="sha512-Ydeo4b5QhIWZvMehCHeJpcA7gNaA/HrOMcocxjOdTH9SJ37TlW6QJdKPyZtc1s5ICOWMUvVZv6x/27q048hVAQ=="
      href="/css/web2ldap/ae-dir.css"
    >
    <link
      rel="stylesheet"
      type="text/css"
      media="print"
      integrity="sha512-Mnb7qB1Ou5PY8Lyc1ZoU7GQADhUajjG7yvtkYw4ydlpPpGwk/BwTj2NH2YgxaWQTmfejgrc8ANIkD3ip68vQDQ=="
      href="/css/web2ldap/print.css"
    >
    <link rel="search"
      type="application/opensearchdescription+xml"
      href="/opensearch-ae-dir.xml"
      title="&AElig;-DIR on {HTTP_HOST}"
    />
    <base target="_top">
    <meta http-equiv="refresh" content="{refresh_time}; URL={script_name}">
    <meta name="robots" content="noindex,nofollow">
    <link
      href="{script_name}/{command}?{ldap_url}"
      rel="bookmark"
      title="&AElig;-DIR :: {ldap_uri} :: {dn} :: {title_text}"
    >
  </head>

  <body>

    <div id="skipnavi">
      <a href="#web2ldap_top">content</a> /
      <a href="#MainMenu">main menu</a> /
      <a href="#ContextMenu">context menu</a> /
      <a href="#DITNavigation">DIT navigation</a> /
      <a href="#web2ldap_bottom">bottom</a>
    </div>

    <header>

      <div id="TopSection">

        <div id="StatusLine">

          <table>
            <tr>
              <th>
                Connected to:
              </th>
              <td>
                <a
                  href="{script_name}/{command}?{ldap_url}"
                  target="_blank"
                  rel="bookmark"
                  title="Bookmark URL"
                >
                  <span class="server">{ldap_uri} {description}</span>
                </a>
              </td>
              <td class="About">
                web2ldap {web2ldap_version}
              </td>
            </tr>
            <tr>
              <th>
                Bound as:
              </th>
              <td>
                <span class="whoami">{who}</span>
              </td>
              <td class="About">
                <a
                  href="{script_name}/urlredirect/{sid}?/web2ldap.html"
                  title="&AElig;-DIR user guide for web2ldap"
                >
                  User guide
                </a>
              </td>
            </tr>

          </table>

        </div>

        <div id="DITNavigation" role="navigation" aria-label="DIT navigation">

          <nav title="Current search base in directory information tree (DIT)">
            {dit_navi}
          </nav>
        </div>

        <menu role="navigation" aria-label="main menu">
        {main_menu}
        </menu>

        <menu role="navigation" aria-label="context menu">
        {context_menu}
        </menu>

      </div>

    </header>

    <div id="{main_div_id}" class="Main" aria-label="content">

      <a id="web2ldap_top"></a>

      <!--p class="ScrollLink">
        <a href="#web2ldap_bottom">&darr; DOWN</a>
      </p-->
