# AppArmor abstraction for all Python web apps started via uwsgi
# {{ ansible_managed }}

  #include <ae-dir/abstractions/python>

  # we need MIME types
  /etc/mime.types r,

  # uwsgi needs to look at mounts
  @{PROC}/filesystems r,
  # read access to own file descriptors
  @{PROC}/@{pid}/fd/ r,
  # read access to number of max. possible connections
  @{PROC}/sys/net/core/somaxconn r,

  # UWSGI plugin module for syslog
  {{ uwsgi_paths.syslog_plugin }} rm,
  # UWSGI plugin module for Python {{ aedir_python_version }}
  {{ uwsgi_paths.python_plugin }} rm,
